<?xml version="1.0"?>
<model>
  <name>black curve curve line</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Your Name</name>
    <email>you@email.com</email>
  </author>
  <description>A simple yellow line-following track on a grey ground plane.</description>
</model>
